body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#debug {
  position: fixed;
  top: 0;
  left: 0;
  color: red;
}

#canvas {
  border: 1px solid black;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &-panel {
    display: flex;
    flex-direction: column;
  }
}
